Header{
  content: '/core/vdm/dialogs/coDialogs.css'
}
div.PictureDialog{
  position:absolute;
  width: 570px;
  height: 420px;
  min-width: 120px;
  min-height: 120px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
div.OpenDialog,div.SaveDialog{
  display:block;
  position:absolute;
  visibility: hidden;
  width: 570px;
  height: 420px;
}

div.OpenDialogTopBar,div.SaveDialogTopBar{
  display: block;
  position: absolute;
  visibility:visible;
  height: 32px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;

  background-color:rgba(0,0,0,.7);
}
div.OpenDialogTopBarLabel,div.SaveDialogTopBarLabel{
  display: block;
  position: absolute;
  font-weight: bold;
  visibility:visible;
  color: rgba(255, 255, 255, .8);
  text-shadow: rgba(0, 0, 0, .8) 0px 0px 4px;
}
input.OpenDialogTopBarValue,input.SaveDialogTopBarValue{
  display: block;
  position: absolute;
  visibility:visible;
  color: rgba(255, 255, 255, .8);
  text-shadow: rgba(0, 0, 0, .8) 0px 0px 4px;
  padding-left: 4px;

  border: 1px solid rgba(255,255,255,.5);
  border-radius: 4px;
  border-color: rgba(255,255,255,.5);
}
div.OpenDialogTreeView,div.SaveDialogTreeView{
  position: absolute;
  display:block;
  color:rgba(255,255,255,.79);
  background-color: rgba(0,0,0,.8);
}
div.OpenDialogListView,div.SaveDialogListView{
  position: absolute;
  display:block;
  background-color: rgba(0,0,0,.8);
}











