Header{
  content: '/core/soc/coSocial.css'
}
div.Social{
  position:absolute;
  width: 570px;
  height: 420px;
  min-width: 120px;
  min-height: 120px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
  clear: both;
  overflow: hidden;
}
div.NetworkListItems{
  display: block;

  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 0px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 1px;
  overflow: hidden;
  outline: none;
}
div.NetworkListItem{
  display: block;
  right: 0px;
  left: 0px;
  height: 84px;

  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
  border: 1px solid transparent;
}
div.NetworkListItemFocused{
  display: block;
  right: 0px;
  left: 0px;
  height: 84px;

  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;


background: -moz-linear-gradient(top, rgba(149,149,149,0.5) 0%, rgba(57,57,57,0.5) 14%, rgba(10,11,10,0.5) 30%, rgba(10,11,10,0.5) 70%, rgba(57,57,57,0.5) 86%, rgba(27,27,27,0.5) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,0.5)), color-stop(14%,rgba(57,57,57,0.5)), color-stop(30%,rgba(10,11,10,0.5)), color-stop(70%,rgba(10,11,10,0.5)), color-stop(86%,rgba(57,57,57,0.5)), color-stop(100%,rgba(27,27,27,0.5)));
background: -webkit-linear-gradient(top, rgba(149,149,149,0.5) 0%,rgba(57,57,57,0.5) 14%,rgba(10,11,10,0.5) 30%,rgba(10,11,10,0.5) 70%,rgba(57,57,57,0.5) 86%,rgba(27,27,27,0.5) 100%);
background: -o-linear-gradient(top, rgba(149,149,149,0.5) 0%,rgba(57,57,57,0.5) 14%,rgba(10,11,10,0.5) 30%,rgba(10,11,10,0.5) 70%,rgba(57,57,57,0.5) 86%,rgba(27,27,27,0.5) 100%);
background: -ms-linear-gradient(top, rgba(149,149,149,0.5) 0%,rgba(57,57,57,0.5) 14%,rgba(10,11,10,0.5) 30%,rgba(10,11,10,0.5) 70%,rgba(57,57,57,0.5) 86%,rgba(27,27,27,0.5) 100%);
background: linear-gradient(top, rgba(149,149,149,0.5) 0%,rgba(57,57,57,0.5) 14%,rgba(10,11,10,0.5) 30%,rgba(10,11,10,0.5) 70%,rgba(57,57,57,0.5) 86%,rgba(27,27,27,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80959595', endColorstr='#801b1b1b',GradientType=0 );



}
div.NetworkListItemInfo{
  padding-left: 4px;
  padding-top: 4px;
  display: inline-block;
  overflow: hidden;
  font-size: 10pt;
  vertical-align: top;
}
div.NetworkListItemInfoWrap{
  display: block;
}
div.NetworkListItemInfoTitle{
  display: block;
  text-overflow: ellipsis;
  overflow:hidden;
  font-weight: bold;
}
div.NetworkListItemInfoDescription{
  display: block;
  text-overflow: ellipsis;
  overflow:hidden;
  padding-top:0px;
  padding-left:2px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 9pt;
  vertical-align: middle;
}
div.NetworkListItemInfoStats{
  font-size: 9pt;
  display: block;
  text-overflow: ellipsis;
  overflow:hidden;
  padding-left: 2px;
}
div.NetworkListItemInfoMembers{
  display: block;
  padding-right: 4px;
  padding-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}
div.NetworkListItemInfoMembersLabel{
  display: inline-block;
  padding-right: 4px;
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom:2px;
  min-width: 57px;
}
div.NetworkListItemInfoPrivate{
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 3px;
  min-width: 85px;
  border-radius: 4px;
  background-color: rgba(127, 127, 127, .77);
}
div.NetworkListItemInfoPublic{
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 4px;
  border-radius: 4px;
  min-width: 85px;
  background-color: rgba(127, 127, 127, .77);
}
div.NetworkListItemInfoPublicLabel{
  display: inline-block;
  padding-right: 4px;
  padding-left: 0px;
}
div.NetworkListItemInfoPublicCount{
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  width: 24px;
  text-align: right;
}
div.NetworkListItemInfoPrivateLabel{
  display: inline-block;
  padding-right: 4px;
  padding-left: 0px;
}
div.NetworkListItemInfoPrivateCount{
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  width: 24px;
  text-align: right;
}
div.NetworkListItemInfoRequests{
  display: block;
  padding-right: 4px;
  padding-left: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

div.NetworkListItemInfoPending{
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 4px;
  border-radius: 4px;

  min-width: 85px;
}
div.NetworkListItemInfoPendingCount{
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  width: 24px;
  text-align: right;
}
div.NetworkListItemInfoPendingLabel{
  display: inline-block;
  padding-right: 4px;
  padding-left: 0px;
}

div.NetworkListItemInfoCount{
display: inline-block;
padding-left: 4px;
padding-right: 4px;
padding-top: 2px;
padding-bottom: 2px;
margin-left: 4px;
border-radius: 4px;
background-color: rgba(127, 127, 127, .77);
}
div.NetworkListItemHandle{
  width: 5px;
  vertical-align:top;
  display:inline-block;
}
div.NetworkListItemHandleSel{
  width: 3px;
  vertical-align:top;
  display:inline-block;

background: #331548;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMTU0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzAwM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, #331548 0%, #207cca 49%, #23003c 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#331548), color-stop(49%,#207cca), color-stop(100%,#23003c));
background: -webkit-linear-gradient(left, #331548 0%,#207cca 49%,#23003c 100%);
background: -o-linear-gradient(left, #331548 0%,#207cca 49%,#23003c 100%);
background: -ms-linear-gradient(left, #331548 0%,#207cca 49%,#23003c 100%);
background: linear-gradient(left, #331548 0%,#207cca 49%,#23003c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331548', endColorstr='#23003c',GradientType=1 );

}
div.NetworkListItemAvatar{
  display:inline-block;
  vertical-align: top;
}
div.NetworkListItemAvatarImage{
  display: block;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 75px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.NetworkListItemCmd{
  display: none;
  visibility: hidden;
  vertical-align: middle;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}
div.NetworkListItemCmdBtn{
  line-height: 27px;
  width: 70px;
  border-radius: 4px;

  border-left: 1px solid;
  border-left-color: #E8DD32;
  border-top: 1px solid;
  border-top-color: #E8DD32;
  border-bottom: 1px solid;
  border-bottom-color: #C9C034;
  border-right: 1px solid;
  border-right-color: #C9C034;

  background-color: #2054cd;
  color: white;
  text-shadow: 0px 0px 1px #100439, 1px 1px 1px #100439, -1px -1px 1px #100439;
}
div.NetworkListItemCmdBtnChecked{
  line-height: 27px;
  width: 70px;
  border-radius: 4px;

  border-left: 1px solid;
  border-left-color: #E8DD32;
  border-top: 1px solid;
  border-top-color: #E8DD32;
  border-bottom: 1px solid;
  border-bottom-color: #C9C034;
  border-right: 1px solid;
  border-right-color: #C9C034;

  background-color: #892d0e;
  color: #f7f7f7;

  text-shadow: 0px 0px 1px #190904, 1px 1px 1px #190904, -1px -1px 1px #190904;
}
div.NetworkListItemGroup{
  display: block;
  padding-top:4px;
}
div.NetworkListItemGroupHeader{
  display: block;
  line-height: 24px;
  vertical-align: top;
  white-space: nowrap;
}
div.NetworkListItemGroupIndc8r{
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
}
div.NetworkListItemGroupIcon{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: top;
}
div.NetworkListItemGroupTitle{
  display: inline-block;
  line-height: 24px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  color: #EFEED7;
  text-shadow: rgba(7, 7, 79, 0.79) 0.1em 0.1em 0.2em;
  font-weight: bold;
  font-size: 11pt;
}
div.NetworkRequests{
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.NetworkRequest{
  display: block;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: transparent;
}
div.NetworkRequest:nth-of-type(even){
  background-color:rgba(255,255,255,.03);
}
div.NetworkRequest:nth-of-type(odd){
  background-color:rgba(255,255,255,.07);
}
div.NetworkRequestInfoDash{
  display: block;
}
div.NetworkRequestInfo{
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  overflow:hidden;
  white-space: nowrap;
}
div.NetworkRequestAvatar{
  display: inline-block;
  border: 1px solid rgba(15, 9, 43, 0.25);
  border-radius: 4px;
}
div.NetworkRequestAvatarImg{

  display: block;
  width: 50px;
  height: 50px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom:4px;

  background-size: contain;
  background-position: center;

}
div.NetworkRequestContact{
  height: 60px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
div.NetworkRequestAccept{
  display: inline-block;
  height: 60px;
  text-align: center;
  vertical-align: top;
}
div.NetworkRequestContactName{
  display: block;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  font-size: 11pt;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.NetworkRequestContactLocation{
  display: block;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  font-size: 10pt;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.NetworkRequestContactTime{
  display: block;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  font-size: 9pt;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.NetworkRequestAcceptBtn{
  margin-left: 10px;
  margin-right: 5px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 70px;
  border-radius: 4px;
  border-left: 1px solid;
  border-left-color: #E8DD32;
  border-top: 1px solid;
  border-top-color: #E8DD32;
  border-bottom: 1px solid;
  border-bottom-color: #C9C034;
  border-right: 1px solid;
  border-right-color: #C9C034;
  background-color: #2054CD;
  color: white;
  text-shadow: 0px 0px 1px #100439, 1px 1px 1px #100439, -1px -1px 1px #100439;
}
div.NetworkRequestDecline{
  display: inline-block;
  height: 60px;
  vertical-align: top;
  text-align: center;
}
div.NetworkRequestDeclineBtn{
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 70px;
  border-radius: 4px;
  border-left: 1px solid;
  border-left-color: #E8DD32;
  border-top: 1px solid;
  border-top-color: #E8DD32;
  border-bottom: 1px solid;
  border-bottom-color: #C9C034;
  border-right: 1px solid;
  border-right-color: #C9C034;
  background-color: #892D0E;
  color: #F7F7F7;
  text-shadow: 0px 0px 1px #190904, 1px 1px 1px #190904, -1px -1px 1px #190904;
}
div.NetworkRequestMsg{
  display: block;
}
div.NetworkRequestMsgRq{
  display: block;
  white-space:nowrap;
  padding-top: 5px;
  padding-bottom:5px;
}
div.NetworkRequestMsgRs{
  display: block;
  white-space:nowrap;
  padding-top: 5px;
  padding-bottom:5px;
}
div.NetworkRequestMsgRqLabel{
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
  width: 80px;
  text-align: right;
}
div.NetworkRequestMsgRsLabel{
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
  width: 80px;
  text-align: right;
}

div.NetworkListItemInfoRequestsLabel{
  display: inline-block;
  padding-left: 0px;
  padding-right: 4px;
  min-width: 57px;
}
div.NetworkIndc8rExp{
  display: inline-block;
  height: 24px;
  width: 24px;
  padding-left: 4px;
  padding-right: 4px;
  background-image:url(/core/vdm/imgs/icns/arw/blu/d.png);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}
div.NetworkIndc8rCol{
  display: inline-block;
  height: 24px;
  width: 24px;
  padding-left: 4px;
  padding-right: 4px;
  background-image:url(/core/vdm/imgs/icns/arw/blu/r.png);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}
input.NetworkRequestMsgRqMessage{
  display: inline-block;

  margin-left: 10px;
  margin-right: 10px;
}
input.NetworkRequestMsgRsMessage{
  display: inline-block;
  color: rgba(255,255,255,1);
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: rgba(0,0,0,1) 1PX -1PX 2PX, rgba(0,0,0,1) 1px 1px 2px;
}
div.pnlNetworkJoinAvatar{
  margin-left: 8px;
  margin-right: 8px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;

  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.pnlNetworkJoinTitle{
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: left;
  vertical-align: middle;
  font-size: 11pt;
  padding-left: 4px;
  text-shadow: rgba(7, 7, 79, 0.79) 0.1em 0.1em 0.2em;
  font-weight: bold;
  white-space: nowrap;
}
div.pnlNetworkJoinDescription{
  display:block;
  height: 22px;
  padding-left: 4px;
  line-height: 22px;
  text-align: left;
  vertical-align: middle;
  font-size: 10pt;
  white-space: nowrap;
  text-shadow: rgba(7, 7, 79, 0.79) 0.1em 0.1em 0.2em;
}
div.pnlNetworkJoinPanels{
  display: block;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

}
div.pnlNetworkJoinChildren{
  display: block;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
div.pnlNetworkJoinHeaderChildren{
  display: block;
  height: 52px;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

}
div.nSelClient{
  position: absolute;
  dispaly:block;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  outline: none !important;
  -webkit-overflow-scrolling: touch !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
textarea.pnlNetworkJoinMessage{
  background-color: transparent;
  color: rgba(255,255,255,1);
  text-shadow: rgba(0,0,0,1) 1PX -1PX 2PX, rgba(0,0,0,1) 1px 1px 2px;
}

